<div
  class=""
>
  <div
    class=""
  >
    <p class="">
      <i class="fa-solid fa-envelope"></i>info@jornadas-artesania.es
    </p>
    <p class="">·</p>
    <p class=""><i class="fa-solid fa-phone"></i> +34 987 000 000</p>
  </div>

  <div
    class=""
  >
    <div
      class=""
    >
      <include src="./components/logo-bs.html"></include>
    </div>
    <nav
      class=""
    >
      <ul
        class=""
      >
        <li class="">
          <a class="" href="./article-bs.html"
            ><i class="fa-brands fa-bootstrap"></i> La jornada</a
          >
        </li>
        <li class="">
          <a class="" href="./speakers-bs.html"
            ><i class="fa-brands fa-bootstrap"></i> Artesanos</a
          >
        </li>
        <li class="">
          <a class="" href="./article-tw.html"
            ><i class="fa-brands fa-tailwind-css"></i> La jornada</a
          >
        </li>
        <li class="">
          <a class="nav-link" href="./speakers-tw.html"
            ><i class="fa-brands fa-tailwind-css"></i> Artesanos</a
          >
          </li>
          <li class="">
          <a class="" href="./contestants-ai.html"
            ><i class="fa-solid fa-robot"></i> Concursantes</a
          >
        </li>
      </ul>
    </nav>

    <ul
      class=""
    >
      <a class="" href="#"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="" href="#"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a class="" href="#"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
    </ul>
  </div>
</div>
