<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="site-footer__contact">
      <p>
        <i class="fa-solid fa-envelope"></i> info@jornadas-artesania.es ·
        <i class="fa-solid fa-phone"></i> +34 987 000 000
      </p>
    </div>

    <div class="d-flex flex-row">
      <include src="./components/logo-bs.html"></include>
      <nav class="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./article-bs.html"
              ><i class="fa-brands fa-bootstrap"></i> La jornada</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./speakers-bs.html"
              ><i class="fa-brands fa-bootstrap"></i> Artesanos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./article-tw.html"
              ><i class="fa-brands fa-tailwind-css"></i> La jornada</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./speakers-tw.html"
              ><i class="fa-brands fa-tailwind-css"></i> Artesanos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contestants-ai.html"
              ><i class="fa-solid fa-robot"></i> Concursantes</a
            >
          </li>
        </ul>
      </nav>

      <div class="social-links">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
