<div class="bg-sabero-gray text-sabero-black">
  <div class="mx-auto flex max-w-7xl flex-col items-center px-4">
    <!-- Datos de contacto -->
    <div class="flex flex-col items-center gap-2 py-6 sm:flex-row sm:py-10">
      <p class="m-0">
        <i class="fa-solid fa-envelope mr-1"></i>info@jornadas-artesania.es
      </p>
      <p class="m-0 hidden sm:block">·</p>
      <p class="m-0"><i class="fa-solid fa-phone mr-1"></i> +34 987 000 000</p>
    </div>

    <!-- Fila inferior: logo + navegación + redes -->
    <div
      class="flex w-full flex-col items-center gap-4 border-t-2 border-neutral-500 py-4 lg:flex-row lg:justify-between lg:py-6"
    >
      <include src="./components/logo-tw.html"></include>

      <nav class="hidden sm:block">
        <ul class="flex flex-col items-center gap-2 md:flex-row md:gap-4">
          <li>
            <a class="nav-link" href="./article-bs.html"
              ><i class="fa-brands fa-bootstrap"></i> La jornada</a
            >
          </li>
          <li>
            <a class="nav-link" href="./speakers-bs.html"
              ><i class="fa-brands fa-bootstrap"></i> Artesanos</a
            >
          </li>
          <li>
            <a class="nav-link" href="./article-tw.html"
              ><i class="fa-brands fa-tailwind-css"></i> La jornada</a
            >
          </li>
          <li>
            <a class="nav-link" href="./speakers-tw.html"
              ><i class="fa-brands fa-tailwind-css"></i> Artesanos</a
            >
          </li>
          <li>
            <a class="nav-link" href="./contestants-ai.html"
              ><i class="fa-solid fa-robot"></i> Concursantes</a
            >
          </li>
        </ul>
      </nav>

      <ul class="flex gap-3">
        <li>
          <a class="nav-link text-xl" href="#"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li>
          <a class="nav-link text-xl" href="#"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li>
          <a class="nav-link text-xl" href="#"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
