<nav class="">
  <div class="">
    <!-- Logo -->
    <include src="./components/logo-tw.html"></include>

    <!-- Botón de colapso -->
    <button
      class=""
      type="button"
    >
      <i class="fa-solid fa-bars"></i>
    </button>

    <!-- Menú de navegación -->
    <div class="">
      <ul class="">
        <li class="">
          <a class="" href="./article-bs.html"
            ><i class="fa-brands fa-bootstrap"></i> La jornada</a
          >
        </li>
        <li class="">
          <a class="" href="./speakers-bs.html"
            ><i class="fa-brands fa-bootstrap"></i> Artesanos</a
          >
        </li>
        <li class="">
          <a class="" href="./article-tw.html"
            ><i class="fa-brands fa-tailwind-css"></i> La jornada</a
          >
        </li>
        <li class="">
          <a class="" href="./speakers-tw.html"
            ><i class="fa-brands fa-tailwind-css"></i> Artesanos</a
          >
        </li>
        <li class="">
          <a class="" href="./contestants-ai.html"
            ><i class="fa-solid fa-robot"></i> Concursantes</a
          >
        </li>
      </ul>
    </div>
    <!-- .navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>
