<header class="site-header">
  <nav class="">
    <include src="./components/logo.html"></include>
    <button class="" type="button">
      <span class=""></span>
    </button>
    <div class="" id="mainNav">
      <ul class="">
        <li class="">
          <a class="" href="./article-bs.html"
            ><i class="fa-brands fa-bootstrap"></i> La jornada</a
          >
        </li>
        <li class="">
          <a class="" href="./speakers-bs.html"
            ><i class="fa-brands fa-bootstrap"></i> Artesanos</a
          >
        </li>
        <li class="">
          <a class="" href="./article-tw.html"
            ><i class="fa-brands fa-tailwind-css"></i> La jornada</a
          >
        </li>
        <li class="">
          <a class="" href="./speakers-tw.html"
            ><i class="fa-brands fa-tailwind-css"></i> Artesanos</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
