<a
  class="logo d-flex align-items-center text-decoration-none"
  href="./home.html"
>
  <div
    class="logo__border border border-2 border-secondary d-flex align-items-center justify-content-center flex-shrink-0 bg-white rounded-circle"
  >
    <img
      class="logo__image h-75 w-auto object-fit-contain"
      src="./assets/images/Escudo_de_Sabero.svg"
      alt="Logo Jornada de Artesanía de Sabero"
    />
  </div>
  <span class="logo__text fs-5 ms-2 text-body-secondary"
    >Artesanía de Sabero</span
  >
</a>
