/**
 * Entry point for Tailwind pages 
 */

@font-face {
  font-family: "LeonesaCancilleresca";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LeonesaCancilleresca.ttf") format("truetype");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tailwind/components.css";
